# Project exclude paths
/.gradle/
/Problems/Compression algorithm/out/
/Problems/Compression algorithm/out/production/classes/
/Simple Chatty Bot/task/out/
/Simple Chatty Bot/task/out/production/classes/
/Simple Chatty Bot/task/out/test/classes/